.ggtips-plot {
  position: relative;
}
.ggtips-tooltip {
  position: absolute;
  float: left;
  display: none;
  pointer-events: none;
  white-space: nowrap;
  white-space: pre-wrap;
  word-break: break-word;
  /* in case browser doesn't support css variables */
  min-width: 220px;
  max-width: 420px;
  min-width: var(--ggtips-min-width, 220px);
  max-width: var(--ggtips-max-width, 420px);
  filter: drop-shadow(0 1px 2px rgba(0,0,0,0.4));
}
.ggtips-tooltip ul {
  background: var(--background, black);
  color: var(--color, white);
  list-style: none;
  margin: 0;
  padding: 5px;
  line-height: 1.1em;
  border-radius: 5px;
  position: relative;
  z-index: 100;
}
.ggtips-tooltip.ggtips-show-tooltip {
  display: block;
}
.ggtips-tooltip::before, .ggtips-tooltip::after {
  width: 10px;
  height: 10px;
  margin-top: -3px; /* half height * 0.6 scale  = (10 / 2) * 0.6 */
  background: var(--background, black);
  position: absolute;
  top: 50%;
  transform: scaleY(0.6) rotate(45deg) translateY(-50%);
  transform-origin: 0 0;
}
.ggtips-tooltip:not(.ggtips-tooltip-right)::before {
  content: "";
  display: block;
  left: -4px;
}
.ggtips-tooltip.ggtips-tooltip-right::after {
  content: "";
  display: block;
  right: -7px;
}
